section .container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

section img {
    height: 350px;
}

.container .about {
    margin-left: 24px;
}

.container .about h2 {
    padding-bottom: 5px;
}

.container .about p {
    text-align: justify;
}